.container {
    padding-top: 70px;
    text-align: center;

    /* padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin: auto 0;
    height: 80vh; */
} 

.scoreWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.coin {
    width: 30px;
    height: 30px;
    /* display: block; */
}

.score {
    font-size: 40px;
    margin-right: 10px;
    font-weight: bold;
    
}

.i {
    width: 18px;
    background-color: white;
    border-radius: 50%;
}


.energyWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
    font-size: 18px;
}

.battery {
    width: auto;
    height: 10px;
    /* margin-right: 10px; */
}

.wolf {
    width: 80%;
    max-width: 350px;
}