@import './reset.css';


html, body {
    touch-action: manipulation; /* Отключает масштабирование при двойном клике */
    user-select: none; /* Отключает выделение текста */
    background-color: #161616;
    font-family: 'Montserrat', sans-serif;
    color:white;
    
  }