@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    touch-action: manipulation; /* Отключает масштабирование при двойном клике */
    user-select: none; /* Отключает выделение текста */
    background-color: #161616;
    
  }